body {
  margin: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: black;
  font-weight: 300;
  background-image: url("/AccountingCourse/img/backgroundConcepts.jpg");
  background-size: cover;
}

b,
strong {
  font-weight: 400;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;  
}
h1,h2,h3,h4,h5,h6{
  font-weight: 300;
  color: black;
}

a, a:link, a:active, a:hover, a:visited {
    color: #FFFFFF;
    font-size: 20px;
}

