.clearfix:before,.clearfix:after,.container:before,.container:after{
	display:table;
	content: "";
}
.clearfix:after,.container:after{
	clear: both;
}
.container{
	width:1170px;
	margin:0 auto;
	padding: 0 15px;
}
.cabecera .logo{
	float:left;
	width:230px;
	padding:10px 0;
}

.addActivo {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}



